@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.top-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 100px;
    padding: 20px 100px 30px;

}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}

.top-container {
    width: 1100px;
    height: 490px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-bottom: 60px;
    gap: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

ul li a {
 text-decoration: none;
 color: #e5e7eb; 
 font-size: 18px; 
}


.content {
    width: 610px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    font-size: 24px;
    color: #f9faf8;
}

img {
    width: 500px;
    height: 230px;
}

button {
    width: 200px;  
    height: 50px;  
    font-size: 20px;
    padding: 10px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;  
}

.section-2 {
    height: 500px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937; 
    margin: 20px 0;
}

.box-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    gap: 40px;
}

.box {
    border: 5px solid blue;
    border-radius: 15px;
    height: 160px;
    width: 160px;
}

.text {
    width: 170px;
    font-size: large;
    margin-top: 10px;
    color: #1c1d1b;
}

.section-3 {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container-3 {
    width: 750px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.quote,.author {
    color: #1f2937; 
    font-size: 36px;
    
}

.author {
    font-weight: 900;
    align-self: flex-end;
}

.section-4 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    background-color: #3882f6;
    width: 1100px;
    border-radius: 10px;
    color: white;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.paragraph p {
    margin: 0;
    padding: 5px 0;
}
.paragraph >:first-child {
    font-size: 24px;
    font-weight: 700;
}

.button-container {
    height: 65px;
    width: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.button-container > button {
    border: 2px solid white;
}

.footer {
    color: white;
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
